<div class="post-details">
    <div class="container">
        <div class="publish-date"><%= locals.post.publishDateFormatted %></div>
        <h1><%= locals.post.title %></h1>
        <div ng-non-bindable><%- locals.post.body %></div>

        <div class="post-footer">
            <% if(locals.postTags && locals.postTags.length) { %>
                <p>
                    Tags: 
                    <%- locals.postTags.map(function(tag) { return '<a href="/posts/tag/' + tag.slug + '">' + tag.text + '</a>'; }).join(', ') %>
                </p>
            <% } %>
            <p class="social-share-buttons">
                <span>Share on: </span>
                <a class="facebook-button" href="http://facebook.com/sharer.php?u=<%= locals.url %>" target="_blank">Facebook</a>
                <a class="twitter-button" href="http://twitter.com/intent/tweet?url=<%= locals.url %>&text=<%= locals.post.title %>" target="_blank">Twitter</a>
                <a class="googleplus-button" href="https://plus.google.com/share?url=<%= locals.url %>" target="_blank">Google+</a>
            </p>
        </div>
        <hr />

        <div id="fb-root">&nbsp;</div>
       
        
        <!-- comments -->
        <div class="fb-comments" data-href="<%= locals.post.permalink %>" data-numposts="5" data-width="">&nbsp;</div>
        <!-- comments -->
        <div id="disqus_thread"></div>
        <script>
            // update page title
            var metaTitle = '<%- locals.metaTitle.replace(/\'/g, "\\\'") %>';
            document.title = metaTitle;

            var disqus_config = function () {
                this.page.url = '<%= locals.post.permalink %>';
                this.page.title = metaTitle;
            };

            if (!window.postViewLoaded) {
                // load disqus script the first time the view loads
                (function () {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=226370784891812&autoLogAppEvents=1';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();

                window.postViewLoaded = true;
            }  else {
                typeof FB != 'undefined' && FB.init({
                    appId      : '226370784891812',
                    status     : true,
                    xfbml      : true,
                    version    : 'v7.0' // or v2.6, v2.5, v2.4, v2.3
                    });
            }
        </script>
    </div>
</div>
